#colorDiv {
    width: 400px;
    height: 300px;
    /* border: 1px solid red; */
}

.colorRow {
    width: 100%;
    height: 9%;
    border: 1px solid black;
    margin: none;
    display: flex;
}

.colorSquare {
    width: 12.5%;
    height: 100%;
    border: 1px solid green;
}

#canvasDiv {
    width: 500px;
    height: 500px;
    position: absolute;
}

.canvasRow {
    width: 100%;
    height: 5%;
    border: 1px solid orange;
    display: flex;
}

.canvasSquare {
    width: 5%;
    height: 100%;
    border: 1px solid blue;
}