body {
    font-family: "VT323", monospace;
    background-image: url("/assets/spaceBackground.png");
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
    font-size: 48px;
    margin: auto;
    padding-bottom: 10px;
}

#areYouSure {
    width: 300px;
    height: 200px;
    position: absolute;
    z-index: 2;
    background-color: rgba(90,90,90, 0.8);
    top: 180px;
    left: 359px;
    border-radius: 20px;
    text-align: center;
    padding-top: 15px;
    font-size: 40px;
    color: white;
}

#yesButton, #noButton {
    width: 200px;
    height: 45px;
    background-color: blueviolet;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    border-radius: 10px;
    padding-top: 8px;
    color: white;
}

#yesButton:hover, #noButton:hover {
    font-size: 40px;
}

#pixelPainter {
    width: 1200px;
    height: 500px;
    display: flex;
    position: absolute;
    z-index: 1;
}

#options {
    width: 235px;
    height: 492px;
    background-color: rgba(150,150,150, 0.8);
    padding-left: 30px;
    padding-top: 10px;
}

#colorDiv {
    width: 210px;
    height: 300px;
    /* border: 1px solid red; */
}

.colorRow {
    width: 100%;
    height: 9%;
    /* border: 1px solid black; */
    margin: none;
    display: flex;
}

.colorSquare {
    width: 12.5%;
    height: 100%;
    /* border: 1px solid green; */
}

#eraseColorDiv {
    width: 210px;
    height: 50px;
    display: flex;
    /* background-color: green; */
}

#eraseButton {
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
}

#clearButton {
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    margin-left: 10px;
}

#canvasDiv {
    width: 500px;
    height: 500px;
    background-color: rgba(255,255,255,0.65);
    margin-left: 10px;
}

.canvasRow {
    width: 100%;
    height: 5%;
    /* border: 1px solid orange; */
    display: flex;
}

.canvasSquare {
    width: 5%;
    height: 100%;
    border: 1px solid blue;
}

#saveLoadDiv {
    width: 210px;
    height: 50px;
    display: flex;
    /* background-color: green; */
    margin-top: 10px;
}

#saveButton {
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
}

#loadButton {
    width: 100px;
    height: 50px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    margin-left: 10px;
}

#actionDiv {
    width: 210px;
    height: 50px;
    display: flex;
    /* background-color: green; */
    margin-top: 10px;
}

#undoButton {
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
}

#redoButton {
    width: 100px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    line-height: 150%;
    margin-left: 10px;
}

#eraseButton:hover, #clearButton:hover, #saveButton:hover, #loadButton:hover, #undoButton:hover, #redoButton:hover {
    font-size: 34px;
}

#captionDiv {
    width: 500px;
    height: 100px;
    /* background-color: pink; */
    color: white;
    text-align: center;
    line-height: 150%;
    position: absolute;
    z-index: 1;
    top: 570px;
    left: 280px;
    font-size: 60px;
}

#videoDiv {
    width: 480px;
    height: 400px;
    background-color: rgba(90,90,90, 0.8);
    position: absolute;
    z-index: 3;
    top: 112px;
    left: 200px;
    border-radius: 5px;
}

#closeVideoOptions {
    width: 480px;
    height: 50px;
}

#closeVideoDiv {
    width: 50px;
    height: 50px;
    background-color: rgba(150,150,150,0.9);
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-size: 50px;
    text-align: center;
}

.videos {
    width: 100%;
    margin-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* height: 100%; */
    /* background-color:red; */
}